
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]
    
RewriteCond %{HTTP_HOST} ^inventory.tripledtechnology\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://inventory.tripledtechnology.com/$1 [R,L]
